.DS_Store
/nbproject/
/build/
build.xml
manifest.mf
/dist/
/src/dbconnection.mv.db
/src/dbconnection.sql-alchemist-teamprojekt.trace.db
/src/dbconnection.sql-alchemist-teamprojekt.h2.db
/target
/project/target
/project/project/target/